:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

body {
  background-color: var(--light);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark {
  background-color: var(--dark);
}

.case {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  background-color: var(--label);
  width: max-content;
  border-radius: 20px;
  height: 30px;
}

.moon {
  padding-right: 5px;
  padding-left: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.sun {
  padding-left: 5px;
  padding-right: 1px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.ball {
  background-color: var(--light);
  height: 25px;
  width: 25px;
  position: absolute;
  cursor: pointer;
  top: 31vh;
  transform: translateX(-19px);
  border-radius: 50px;
  transition: 0.3s;
}

body.dark .ball {
  transform: translateX(19px);
  transition: 0.3s;
}
