:root {
  --dark: #292c35;
  --light: #f1f1f1;
  --label: #111;
}

body {
  background-color: var(--light);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark {
  background-color: var(--dark);
}

.case {
  display: flex;
  justify-content: center;
  margin-top: 30vh;
  background-color: var(--label);
  width: max-content;
  border-radius: 50px;
  height: 100px;
}

.moon {
  padding-right: 20px;
  padding-left: 4px;
}

.sun {
  padding-left: 20px;
  padding-right: 4px;
}
.moon,
.sun {
  padding-top: 8px;
  padding-bottom: 8px;
}
.ball {
  background-color: var(--light);
  height: 96px;
  width: 96px;
  position: absolute;
  cursor: pointer;
  margin: 0 auto;
  transform: translate(-58px, 2px);
  border-radius: 50px;
  transition: 0.3s;
}

body.dark .ball {
  transform: translate(58px, 2px);
  transition: 0.3s;
}
